/Temp
/.idea
/Bundles
/Library
/Logs
/obj
/Build
/.vsconfig
/.vs
/UserSettings/Layouts/*.dwlt
/UserSettings/*.index
/UserSettings/*.settings
/*.sln
UserSettings
/*.csproj
/WebTest.sln.DotSettings.user
/WebTest.sln
/UserSettings/EditorUserSettings.asset
/.vscode
/Assets/StreamingAssets
/MemoryCaptures
/AssetMapCache
